fastapi
uvicorn[standard]
python-multipart

streamlit
requests

paddleocr
paddlepaddle==3.3.1

pymupdf
pillow
opencv-python

ollama

sqlalchemy
psycopg2-binary

pydantic
pydantic-settings

python-dotenv
python-dateutil

protobuf>=5.26.1,<8